<h2><%= @ingredient.name %></h2>
<p>平均価格: <%= @ingredient.average_price %>円</p>
<p> <%= link_to "この食材でクックパッドを検索", "https://cookpad.com/search/#{CGI.escape(@ingredient.name)}", target: "_blank" %></p>
